<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>presupuestos</title>
  <link rel="stylesheet" href="../css/estlilos4.css">
</head>
<body> 
    <!-- cabecera -->
  <header> 
    <img src="../assets/images/logo.jpg" alt="logo" class="logo"> 
    <h1> CAFÉ DE MONTAÑA...<br> ¡Más que café es vida! </h1> 
  </header> 
  <!-- barra de navegación -->
  <nav>
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu">☰</label>
    <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="../views/productos.html"> Nuestros productos</a></li>
        <li><a href="../views/presupuestos.html">Presupuesto</a></li>
        <li><a href="../views/contacto.html"class="active">Contacto</a></li>
    </ul>
</nav>
   <!--contenido-->
  <section>
    <h1>Términos y Condiciones</h1>

    <h2>1. Identificación del Titular</h2>
    <p>Razón Social: <strong>CAFÉ DE MONTAÑA</strong></p>
    <p>NIT: [Número de Identificación Tributaria]</p>
    <p>Dirección: DABEIBA-ANTIOQUIA COLOMBIA</p>
    <p>Correo Electrónico: <a href="cafedemontaña@gmail.com"></a></p>
    <p>Teléfono: <a href="3205591419"></a></p><!-- este numero es de mi madre actualmente en colombia-->
    <p>Registro Mercantil: (#####)</p>
    <div class="mapa">
        <div> <img src="../assets/images/mapa.web.jpg" alt="mapa-DABEIBA-ANTIOQUIA" width="300px" height="300px"></div>
    </div>

    <h2>2. Aceptación de los Términos</h2>
        <p>Al acceder y utilizar este sitio web, administrado por "CAFÉ DE MONTAÑA", aceptas los presentes términos y condiciones. 
          Si no estás de acuerdo, por favor, abstente de usar este sitio.
        </p>

    <h2>3. Uso del Sitio Web</h2>
    <ul>
        <li>No utilizarás el sitio para actividades ilícitas.</li>
        <li>No infringirás derechos de autor, marcas comerciales u otros derechos de propiedad intelectual.</li>
    </ul>

    <h2>4. Productos y Servicios</h2>
        <p>
            Todos los productos ofrecidos están descritos con la mayor precisión posible, pero pueden existir pequeñas 
            variaciones.
        </p>

    <h2>5. Proceso de Compra</h2>
        <p>
            Para realizar una compra, debes proporcionar información veraz y completa.
        </p>

    <h2>6. Envíos y Devoluciones</h2>
        <p>
            Realizamos envíos a todo el territorio nacional a través de transportadoras certificadas.
        </p>

    <h2>7. Propiedad Intelectual</h2>
        <p>Todos los derechos sobre los contenidos del sitio web, incluyendo textos, imágenes, 
            logotipos y diseños, son propiedad exclusiva de CAFÉ DE MONTAÑA.
        </p>

    <h2>8. Protección de Datos Personales</h2>
        <p>
            Garantizamos la protección de tus datos personales conforme a la Ley 1581 de 2012.
        </p>

    <h2>9. Ley Aplicable y Jurisdicción</h2>
        <p>
            Estos términos se rigen por la legislación colombiana.
        </p>
  </section>

  <div class="button">
    <button class="button-aceptar">Acepto</button>
  </div>
  <!--pie de pagigina-->
  <footer class="footer-extra">
    <p>© 2024 cafe de montaña. Todos los derechos reservados.</p>
   <div class="redes-sociales">
       <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
           <img src="../assets/images/facebook_jpg.jpg" alt="Facebook">
           <p>facebook</p>
       </a>
           
        <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
           <img src="../assets/images/instagram.jpg" alt="Instagram">
           <p>instagram</p>
       </a>
       <a href="https://www.tiktok.com" target="_blank" aria-label="TikTok">
           <img src="../assets/images/tiktok_jpg.jpg" alt="TikTok">
           <p>TikTok</p>
       </a>
   </div>
</body> 