<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo - Café de Montaña</title>
    <link rel="stylesheet" href="../css/estilos2.css">
</head>
<body>
    <!-- cabecera -->
    <header> 
        <img src="../assets/images/logo.jpg" alt="logo" class="logo">
        <h1>CAFÉ DE MONTAÑA...<br> ¡Más que café es vida!</h1>      
    </header>
    <!-- barra de navegación -->
    <nav>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu">☰</label>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/productos.html"class="active">Nuestros productos</a></li>
            <li><a href="../views/presupuestos.html">Presupuesto</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <!--parrafo informativo y descriptivo -->
    <section>
        <img src="../assets/images/cafe_beber.jpeg" alt="café" class="cafe-img">
        <div class="caja">
            <h2>NUESTRA HISTORIA</h2>
            <p>
                Todo comenzó como un proyecto pequeño, liderado por un grupo de personas apasionadas por el mundo del café.
                Aprovechando que son caficultores desde la cuna, tomaron diversas ideas, las combinaron con su experiencia ancestral,
                y con mucho esfuerzo lograron hacer realidad sus sueños: dar vida a su marca de café, "CAFÉ DE MONTAÑA". <br>
                ...
            </p>
        </div>
    </section>
    <!-- galeria y contenido -->
    <section class="galeria">
        <h2>NUESTROS PRODUCTOS</h2>
        <div class="imagenes">
            <div class="producto">
                <h3>nescafe</h3>
                <img src="../assets/images/nescafe.jpg" alt="Nescafé">
                <div class="descripcion">
                    <p class="nombre">Nescafé clasico</p>
                    <p class="precio">$4.99</p>
                    <a href="#" class="comprar-btn">Comprar</a>
                </div>
            </div>

            <div class="producto">
                <h4>cafe bastilla</h4>
                <img src="../assets/images/cafe_bastilla.jpg" alt="Café Bastilla">
                <div class="descripcion">
                    <p class="nombre">Café Bastilla clasico</p>
                    <p class="precio">$5.99</p>
                    <a href="#" class="comprar-btn">Comprar</a>
                </div>
            </div>

            <div class="producto">
                <h5>juan valdez</h5>
                <img src="../assets/images/cafe_de_juan_valdez.jpeg" alt="Café Juan Valdez">
                <div class="descripcion">
                    <p class="nombre">Café Juan Valdez</p>
                    <p class="precio">$6.99</p>
                    <a href="#" class="comprar-btn">Comprar</a>
                </div>
            </div>

            <div class="producto">
                <h6>cafe de montaña</h6>
                <img src="../assets/images/cafe_de_montaña.jpeg" alt="Café de Montaña">
                <div class="descripcion">
                    <p class="nombre">Café de Montaña clasico</p>
                    <p class="precio">$7.99</p>
                    <a href="#" class="comprar-btn">Comprar</a>
                </div>
            </div>
        </div>
        <!-- no agregare carrito por que es necesario js por el momento la dejare asi como una web incompleta,
         espero que no haya problema alguno-->
    </section>
    <!-- pie de pagina -->
    <footer class="footer-extra">
         <p>© 2024 CAFE DE MONTAÑA. Todos los derechos reservados.</p>
        <div class="redes-sociales">
            <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
                <img src="../assets/images/facebook_jpg.jpg" alt="Facebook">
                <p>facebook</p>
            </a>
                
             <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
                <img src="../assets/images/instagram.jpg" alt="Instagram">
                <p>instagram</p>
            </a>
            <a href="https://www.tiktok.com" target="_blank" aria-label="TikTok">
                <img src="../assets/images/tiktok_jpg.jpg" alt="TikTok">
                <p>TikTok</p>
            </a>
        </div>
    </footer>
    
</body>
</html>
